body {
    color: #25331d;
    background-color: #a27c5b;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}
h1 {
    color: #f8faf7;
}
h2 {
    color: #f8faf7;
}

h3{
    color: #f8faf7;
}

h4 {
    color: #f8faf7;
}
h5 {
    color: #f8faf7;
}

h6 {
    color: #f8faf7;
}

h7 {
    color: #f8faf7;
}