body {
    color: #25331d;
    background-color: #a27c5b;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}
h1 {
    color: #f8faf7;
    font-family:'font-family: 'Edu NSW ACT Foundation', cursive;'
}
h2 {
    color: #f8faf7;
    font-family:'font-family: 'Edu NSW ACT Foundation', cursive;';
}
